
.spinner {
    display: inline-block;
}

.spinnerwrapper {
    margin-top: 300px;
    text-align: center;
}

.noresults {
    font-size: 48px;
    text-align: center;
    margin-top: 200px;
    font-weight: 800;
}