.parkitem {
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-weight: 800;
    font-size: 28px;
    color: #E85A4F;
}

.location {
    font-size: 18px;
    font-weight: 800;
}

.designation {
    color: #8E8D8A;
}

.img {
    width: 100%;
    margin-bottom: 5px;
}