.title {
    font-size: 24px;
    font-weight: 800;
}

.image {
    width: 30%;
    margin-bottom: 5px;
}

.link {
    color: #E85A4F;
}
.link:hover {
    color: #E85A4F;
    text-decoration: underline #007BFF;
}
.description {
    font-size: 18px;
    color: gray;
}

.item {
    margin-bottom: 30px;
}