.campground {
    margin-bottom: 60px;
    padding-left: 15px;
    border-left: 2px solid black;
}

.name {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.link {
    color: #E85A4F;
}

.link:hover {
    color: #E85A4F;
    text-decoration: underline #007BFF;
}

.campsites {
    color: #555555;
}

.amenities {
    font-size: 24px;
}

.amenitiestitle {
    font-weight: 400;
}

.no {
    color: #E98074;
}

.yes {
    color: green;
}

.description {
    font-size: 18px;
}

.button {
    margin-left: 20px;
}

.header {
    font-size: 24px;
}

.info {
    margin-bottom: 20px;
}