.newsrelease {
    margin-bottom: 40px;
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.title a {
    color: #E85A4F;
}

.title a:hover{
    color: #E85A4F;
    text-decoration: underline #007BFF;
}

.description {
    font-size: 18px;
    color: gray;
}

.img {
    width: 20%;
    border: 2px solid #222222;
    margin-bottom: 20px;
}

.date {
    font-size: 14px;
    color: gray;
}