.article {
    margin-bottom: 100px;
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.title a {
    color: #222222;
}

.description {
    font-size: 18px;
    color: gray;
}

.img {
    width: 100%;
    border: 2px solid #222222;
    margin-bottom: 20px;
}