

.panel {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-top: -5px;
}



.menuitem {
    font-size: 18px;
}
.menuitem a {
    color: #222222;
}

.menuitem a:focus {
    outline: 0;
}

.menu {
    margin-top: 10px;
}

.subheading {
    font-weight: 800;
    color: #222222;
    font-size: 36px;
    vertical-align: bottom;
    padding-top: 10px;
}
