.parktitle {
}

.name {
    font-family: 'Gothic A1';
    font-weight: 800;
    font-size: 48px;
    color: #0C1713;
    text-transform: uppercase;
    
}

.designator {
    font-family: 'Roboto';
    font-weight: 400;
    color: #E85A4F;
    font-size: 18px;
}

.divider {
    margin-bottom: 5px;
}

.latlong {
    text-align: right;
}

.lat {
    text-align: right;
    padding-right: 15px;
}