.directions {
    margin-bottom: 40px;
}

.weather {
    margin-top: 40px;
    font-size: 18px;
    border-left: 2px solid black;
    margin-left: -15px;
    padding-left: 15px;
}

.address {
    margin-bottom: 0px;
}
.contacts {
    color: #8E8D8A;
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: 40px;
}
.directions {
    font-size: 18px;
    border-left: 2px solid black;
    margin-left: -15px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.directionslink {
    color: #E85A4F;
}

.line1 {
    font-size: 24px;
    font-weight: 800;
}

.line2 {
    font-size: 24px;
    font-weight: 800;
    color: #222222;
}

.line3 {
    font-size: 24px;
    font-weight: 800;
    color: #222222;
}

.line4 {
    font-size: 18px;
    font-family: "Roboto";
    color: #8E8D8A;
}