.img {
    width: 30%;
    margin-bottom: 5px;
}

.img:hover { 
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc; 
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #E85A4F;
}

.subheading {
    font-size: 18px;
    color: gray;
}

.image {
    margin-bottom: 30px;
}