@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Roboto:400,900&display=swap');

.ParkTitle {
    color: #466060;
    background-color: #CCDAD1;
}

.name {
    font-family: 'Gothic A1';
    font-weight: 700;
    font-size: 36px;
    color: #0C1713;
    
    
}

.header {
    font-size: 36px;
}
.price {
    font-size: 24px;
}
.descriptionspan {
    font-size: 14px;
    vertical-align: middle;
}
.hourspan {
    color: red;
}

.title {
    font-size: 24px;
}