

.header {
    color: #222222;
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
    font-family: "Gothic A1";
}

.fee {
    margin-top: 10px;
}
.hours {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.passheader{
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 18px;
    font-weight: 400;
}

.pass {
    margin-top: 20px;
}

.price {
    font-size: 24px;
    font-weight: 800;
}
.descriptionspan {
    font-size: 14px;
}

.pricinghours {
    padding-left: 30px;
    border-left: 1px solid lightgray;
}

.contentpane {
    width: 100%;
}